<h3>Add a new song</h3>
<%= form_tag '/song/create' do -%>
    <fieldset>
        <p>
            <label>Song Url: </label>
            <input name="song[orig_url]" value="<%= @song.orig_url -%>" />
        </p>

        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
<% end %>
